*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.bcf
*.run.xml
*.bak
*.toc
*~
.httr-oauth
*Cache*

misc/.archChapter2.tex
misc/bibexport.bib
misc/doi_output.html
misc/finddoi.py
misc/finddoi.sh
misc/formatting.txt
misc/refYears.csv
misc/titleDois.csv
misc/titles.txt

